.home-page {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;

  .btn {
    padding: 5px 1em;
    margin-bottom: 2em;
  }
}

.full-book-item {
  box-sizing: border-box;
  margin: 2em 5em 2em 5em;

  .book-image {
    min-width: 3em;
    min-height: 3em;
    //width: 5em;
    height: 5em;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .book-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;

    .book-short-content {
      display: inline-block;
      padding: 0 1em;
      width: 40em;
    }
  }
}
