.meeting-point-page {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  box-sizing: border-box;
  margin-left: 2em;
  width: 100%;
}

.calendar-area {
  .btn {
    padding: 5px 1em;
    //font-size: 16px;
  }

  .react-datepicker {
    margin: 0 auto;
  }

  label {
    font-size: 13px;
  }
}
