.meeting-point-page {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  box-sizing: border-box;
  margin-left: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .dates-area {
    margin-left: 5em;
  }
}

.calendar-area {
  .btn {
    padding: 5px 1em;
  }

  .react-datepicker {
    margin: 0 auto;
  }

  label {
    font-size: 16px;
  }
}
