.meeting-point-page {
  margin-left: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .dates-area {
    margin-left: 5em;
  }
}

.calendar-area {
  .react-datepicker {
    margin: 0 auto;
  }
}
