.btn {
  box-sizing: border-box;
  padding: 5px 5px;
  width: 130px;
  border: 0;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #c6bcb6;
  }
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}
