//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.App {
  //   text-align: center;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  font-family: "Open Sans", sans-serif;
}

.btn {
  font-size: 18px;
  box-sizing: border-box;
  padding: 5px 0px 5px;
  border: 0;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #c6bcb6;
  }
  &:focus {
    outline: none;
  }
}
